<h1>New question</h1>

<h1>Generate Question</h1>

<%=form_for Question.new do |f| %>
	<%=f.label :question %>
	<%=f.text_field :question %> 
	<%=f.label :geo %>
	<%=f.text_field :geo %>
	<%=f.label :user_id %>
	<%=f.number_field :user_id %>
	<%=f.submit "Create Question" %>
<%end%>

